/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-1-30, 11:03:51
    Author     : Lin.Shi
*/

.span-bg {
    text-indent: -9999px;
    display: block;
}