/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-2-10, 16:11:28
    Author     : Zonglin.Li
*/

.suggestion-operation-div > ul {
    text-align: center;
    background-color: #5cb85c;
}