/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-1-26, 18:15:58
    Author     : Zonglin.Li
*/

/*#task_filter_table {*/
    /*padding: 10px;*/
    /*width: 100%;*/
/*}*/
/*#task_filter_table td {*/
    /*padding-top:5px;*/
/*}*/
/*#task_filter_div {*/
    /*margin: auto;*/
    /*margin-top: 20px;*/
    /*width: 100%*/
/*}*/

.task-operation-div > ul {
    text-align: center;
    background-color: #FFF;
}
/*.btn {
    width: 40%
}
.dropdown-menu{
    width: 40%
}*/
/*.task-operation-div > button:hover .task-operation-div.dropdown-menu {
    display: block;
}*/

.span-bg{
    text-indent:-9999px;
    display:block;
}

#task_edit_table th{
    text-align: right;
}
#task_filter_table div{
    padding-left: 25px;
    padding-right: 25px;
}


.task_details_table_span{
    word-break:break-all;
    display: block;
    width: 100%;
}

.textarea-7line{
    height: 150px;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.textarea-4line{
    height: 80px;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}
